* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: linear-gradient(135deg, #A9C9FF 10%, #FFBBEC 100%);
    min-height: 100vh;
}

/* nav */
nav {
    height: 200px;
    width: 100%;
    background-color: white;
    display: flex;
    
    

}

.logo {
    padding: 50px;
    padding-left: 150px;
}

.cname {
    padding: 50px;
    padding-top: 70px;
}

.cname h1,
h4 {
    text-align: center;
}

.cname h1 {
    font-size: 40px;
    color: #344CB7;
}

.tittle h2 {
    text-align: center;
    color: black;
    margin-top: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

/* body content */
.content {
   
margin-top: 70px;
    justify-content: center;

}

.row1,
.row2,
.row3 {
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.depart button {
    height: 80px;
    width: 200px;
    border: 0px solid black;

    padding: 20px;

    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
   cursor: pointer;
}

.depart a {

    text-decoration: none;
}

.depart button:hover {
    background-color: #3e58ca;
    color: white;
    box-shadow: 2px 2px 30px 10px  #fccdef;
}
