* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: linear-gradient(135deg, #A9C9FF 10%, #FFBBEC 100%);
    min-height: 100vh;
}

/* nav */
nav {
    height: 200px;
    width: 100%;
    background-color: white;
    display: flex;

}

.logo {
    padding: 50px;
    padding-left: 150px;
}

.cname {
    padding: 50px;
    padding-top: 70px;
}

.cname h1,
h4 {
    text-align: center;
}

.cname h1 {
    font-size: 40px;
    color: #344CB7;
}

.tittle h2 {
    text-align: center;
    color: black;
    padding-top: 40px;
}

/* body content */
.content {
    padding-top: 40px;
    display: flex;
    justify-content: center;

}

.row1,
.row2,
.row3 {
    padding: 50px;
}

.depart button {
    height: 80px;
    width: 200px;
    border: 1px solid black;
    flex-basis: 50%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 15px;
}

.depart a {

    text-decoration: none;
}

.depart button:hover {
    background-color: #3e58ca;
    color: white;
}